/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

table, th, td {
  border: 1px solid #800080;
}

thead, tfoot {
  font-family: "Rock Salt";
  color: white;

}

tbody {
  background-image: url(/Users/wingapoh2/semantic-html-challenge/assets/noise.png);
  font-family: "Helvetica Neu";
  text-align: center;
  
}



tbody:nth-child(even) tr:nth-child(odd) {
  background-color:  #ff33cc;
}
tbody:nth-child(even) tr:nth-child(even) {
  background-color: #e495e4;
}

thead {
  background-image: url(/Users/wingapoh2/semantic-html-challenge/assets/leopardskin.jpg);
  background: linear-gradient(rgba(0,0,0,0.1));
}

tfoot {
  background-image: url(/Users/wingapoh2/semantic-html-challenge/assets/leopardskin.jpg);
  background: linear-gradient(rgba(0,0,0,0.5));
}

#footText th:nth-child(odd) {
  text-align: right;
}
#footText th:nth-child(even) {
  text-align: left;
}

#bandName {
  font-weight: bold;
}