/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

table, th, td {
  border: 1px solid black;
}

tbody {
  background-image: url(/Users/wingapoh2/semantic-html-challenge/assets/noise.png);
}

thead {
  background-image: url(/Users/wingapoh2/semantic-html-challenge/assets/leopardskin.jpg);
}

tfoot {
  background-image: url(/Users/wingapoh2/semantic-html-challenge/assets/leopardskin.jpg);
}

#footText th:nth-child(odd) {
  text-align: right;
}
#footText th:nth-child(even) {
  text-align: left;
}